




// ======================
// App > Start
// =================================================
*
	outline: 0 !important
	box-sizing: border-box

section, div, body, aside, header
	position: relative

img
	margin: 0 auto
	max-width: 100%

p, body, button, h1, h2, h3, h4, h5
	border: none
	margin: 0
	padding: 0

html
	min-height: 100%

body
	background-color: $color_almost_white
	color: $color_almost_black
	font:
		family: $font_stack
		size: 15px
		weight: 400
	line-height: 1.5em
	text:
		text-decoration: none

	a, a:visited
		color: $color_black
		text-decoration: none

header
	padding: 50px $dp $dp $dp

	h1
		color: $color_black
		font:
			size: 18px
			weight: 700
		text:
			align: left
			transform: uppercase