




// ======================
// App > Base > Detail
// =================================================
section.item-detail
	padding: 0 0 $dp * 2 0

	div.item-detail-wrap

	h2
		color: $color_brand
		font:
			size: 20px
			weight: 700
		line-height: 1em
		padding: $dp
		text:
			align: left
			//transform: uppercase

	div.note
		font:
			size: 14px
			weight: 400
			style: italic
		text:
			align: left
		padding: 0 $dp

		span
			font-weight: 700

	div.inputs
		max-width: 440px
		padding: $dp

		& > div
			background-color: rgba($color_brand_alt, 0.5)
			border-radius: 5px
			height: 40px
			line-height: 30px
			padding: 5px 5px 5px 120px
			position: relative
			margin: 0 0 5px 0

			label
				color: $color_white
				display: block
				font:
					size: 14px
					weight: 400
				left: 5px
				position: absolute
				top: 5px
				width: 115px

			input
				background-color: rgba($color_brand_alt, 0.3)
				border: none
				border-radius: 5px
				display: block
				height: 30px
				line-height: 30px
				padding: 0 10px
				width: 100%

	div.images
		max-width: 440px
		padding: $dp

		ul

			li

				a

				img


	button
		background-color: $color_brand
		color: $color_white
		display: block
		font:
			size: 14px
			weight: 200
		text:
			align: center
			transform: uppercase
		height: 40px
		line-height: 40px
		margin-left: $dp
		max-width: 300px
		width: 100%

		&:hover
			background-color: rgba($color_brand, 0.8)

		&.danger
			margin-top: 5px
			background-color: $color_red

			&:hover
				background-color: rgba($color_red, 0.8)

		&.good
			margin-top: 5px
			background-color: $color_green

			&:hover
				background-color: rgba($color_green, 0.8)
	
	@media only screen and (min-width: 700px)
		position: absolute
		top: 70px
		left: 340px