




// ======================
// App > Base > List
// =================================================
section.item-list
	
	div.item-list-wrap

	h2
		color: $color_brand
		font:
			size: 16px
			weight: 700
		line-height: 1em
		padding: 0 $dp $dp $dp
		text:
			align: left
			transform: uppercase

	ul.items
		max-width: 340px
		margin: 0
		padding: 0 $dp $dp $dp

		li
			background-color: rgba($color_brand, 0.5)
			border-radius: 5px
			cursor: pointer
			font:
				size: 14px
				weight: 400
			height: 40px
			line-height: 30px
			padding: 5px 10px
			margin: 0 0 5px 0

			&:hover
				background-color: rgba($color_brand, 1.0)

			&.selected
				background-color: rgba($color_brand, 0.9)

			&.deleted
				background-color: rgba($color_red, 0.3)

				&.selected
					background-color: rgba($color_red, 0.8)

				&:hover
					background-color: rgba($color_red, 0.7)

			span
				font:
					size: 16px
					weight: 700