




// ======================
// App > Base > Login
// =================================================
section.login
	margin: 0 auto
	max-width: 300px
	width: 100%

	div.login-wrap

	div.error-message
		color: $color_red
		font:
			size: 14px
			weight: 700
		padding: 0 $dp $dp $dp
		line-height: 1em
		text:
			align: center
			transform: uppercase

	div.login-form

		& > div
			padding: 0 0 $dp 0

		label
			display: block
			font:
				size: 12px
				weight: 700
			text:
				align: left
				transform: uppercase
			line-height: 1em

		input
			border: none
			display: block
			height: 40px
			line-height: 40px
			padding: 0 10px
			width: 100%


		button
			background-color: $color_brand
			color: $color_white
			display: block
			font:
				size: 14px
				weight: 200
			text:
				align: center
				transform: uppercase
			height: 40px
			line-height: 40px
			width: 100%

			&:hover
				background-color: rgba($color_brand, 0.8)