




// ======================
// Mixin > Center elements
// =================================================
@mixin v-align
	@include transform(translateY(-50%))
	position: relative
	top: 50%

@mixin h-align
	@include transform(translateX(-50%))
	position: relative
	left: 50%

@mixin accelerate-css
	@include transform(translate3d(0,0,0))





// ======================
// Mixin > Placeholders
// =================================================
@mixin placeholder
	&::-webkit-input-placeholder 
		@content
	&:-moz-placeholder
		@content
	&::-moz-placeholder
		@content
	&:-ms-input-placeholder
		@content

@mixin placeholder-hover
	&:hover::-webkit-input-placeholder
		@content
	&:hover:-moz-placeholder 
		@content
	&:hover::-moz-placeholder 
		@content
	&:hover:-ms-input-placeholder
		@content

@mixin placeholder-focus
	&:focus::-webkit-input-placeholder
		@content
	&:focus:-moz-placeholder
		@content
	&:focus::-moz-placeholder
		@content
	&:focus:-ms-input-placeholder
		@content


	

