<section class="item-detail" *ngIf="selectedItem">

	<div class="item-detail-wrap">

		<h2>{{ selectedItem.headline }}</h2>
		<div class="note"><span>ID:</span> {{ selectedItem.id }}</div>
		<div class="note"><span>Opdateret:</span> {{selectedItem.updated_at.pretty}}</div> 
		<div class="note"><span>Oprettet:</span> {{selectedItem.created_at.pretty}}</div>

		<div class="inputs">
			
			<div><label>Titel:</label><input [(ngModel)]="selectedItem.headline" placeholder="Titel" /></div>
			<div><label>Beskrivelse:</label><input [(ngModel)]="selectedItem.description" /></div>
			<div><label>Donator:</label><input [(ngModel)]="selectedItem.donator" /></div>
			<div><label>Producent:</label> <input [(ngModel)]="selectedItem.producer" /></div>
			<div><label>Postnr:</label> <input [(ngModel)]="selectedItem.zipcode" /></div>    
			<div><label>Modtaget:</label> <input [(ngModel)]="selectedItem.received_at.pretty" /></div>
			<div><label>Dateret fra:</label> <input [(ngModel)]="selectedItem.dating_from.pretty" /></div>
			<div><label>Dateret til:</label> <input [(ngModel)]="selectedItem.dating_to.pretty" /></div>

		</div>

		<div class="images">

			<ul>
				
				<li *ngFor="#image of selectedItem.images">
					<a href="{{ image.full }}" target="_blank">
						<img src="{{ image.thumb }}" alt="{{ image.thumb }}" />
					</a>
				</li>

			</ul>
			
		</div>

		<button (click)="updateSelectedItem()">Opdatér genstand</button>
		<button *ngIf="!selectedItem.deleted_at" (click)="deleteSelectedItem()" class="danger">Slet genstand</button>
		<button *ngIf="selectedItem.deleted_at" (click)="restoreSelectedItem()" class="good">Gendan genstand</button>

	</div>

</section>