<div class="app-wrapper">

	<header>
		<h1>{{ title }}</h1>
	</header>

	<section class="login" *ngIf="!items">

		<div class="login-wrap">
				
				<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

				<div class="login-form">
					
					<div>
						<label>Brugernavn</label>
						<input [(ngModel)]="user" type="text" name="user" class="user" />
					</div>
					<div>
						<label>Kodeord</label>
						<input [(ngModel)]="pass" type="password" name="pass" class="pass" />
					</div>
					<div>
						<button class="submit" (click)="login()">Log ind</button>
					</div>

				</div>

		</div>

	</section>

	<section class="item-list" *ngIf="items">

		<div class="item-list-wrap">
				
				<h2>Liste over Genstande</h2>

				<ul class="items">
					
					<li *ngFor="#item of items" [class.deleted]="item.deleted_at" [class.selected]="item === selectedItem" (click)="selectedItem = item">
						<span class="badge">{{ item.id }}</span> {{ item.headline }}
					</li>

				</ul>

		</div>
		
	</section>

	<item-detail [selectedItem]="selectedItem"></item-detail>

</div>